PORT=5000
KAFKA_CLIENT_ID=OkXNF4L3RMavRF7C4NFtpA
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_SPOT_ORDER_GROUP=spot-order-group
KAFKA_TOPIC_SPOT_ORDER_PENDING=spot-order-pending
KAFKA_TOPIC_SPOT_ORDER_COMPLETE=spot-order-complete
